In [20]:
# Q1: Create a DataFrame with the following e-commerce sales data:
# Columns: OrderID, CustomerID, Product, Category, Quantity, Price, OrderDate, Rating, Review
# Create at least 50 sample records with realistic data including dates from 2023-2024
# Display the first 10 and last 5 records using head() and tail()

import pandas as pd
import numpy as np

# Create sample e-commerce data (50 records)
data = {
    "OrderID": range(1001, 1051),
    "CustomerID": range(501, 551),
    "Product": [
        "Laptop", "Mobile", "Headphones", "Keyboard", "Mouse",
        "Tablet", "Smartwatch", "Charger", "Camera", "Printer"
    ] * 5,
    "Category": [
        "Electronics", "Electronics", "Accessories", "Accessories", "Accessories",
        "Electronics", "Wearables", "Accessories", "Electronics", "Electronics"
    ] * 5,
    "Quantity": [
        1, 2, 1, 1, 2,
        1, 1, 3, 1, 1
    ] * 5,
    "Price": [
        75000, 30000, 2500, 1500, 900,
        40000, 12000, 800, 55000, 18000
    ] * 5,
    "OrderDate": pd.date_range(start="2023-01-01", periods=50, freq="W"),
    "Rating": [
        5, 4, 4, 3, 5,
        4, 5, 3, 4, 4
    ] * 5,
    "Review": [
        "Excellent", "Very Good", "Good", "Average", "Excellent",
        "Good", "Excellent", "Average", "Very Good", "Good"
    ] * 5
}

# Create DataFrame
df = pd.DataFrame(data)
print(df)

    OrderID  CustomerID     Product     Category  Quantity  Price  OrderDate  \
0      1001         501      Laptop  Electronics         1  75000 2023-01-01
1      1002         502      Mobile  Electronics         2  30000 2023-01-08
2      1003         503  Headphones  Accessories         1   2500 2023-01-15
3      1004         504    Keyboard  Accessories         1   1500 2023-01-22
4      1005         505       Mouse  Accessories         2    900 2023-01-29
5      1006         506      Tablet  Electronics         1  40000 2023-02-05
6      1007         507  Smartwatch    Wearables         1  12000 2023-02-12
7      1008         508     Charger  Accessories         3    800 2023-02-19
8      1009         509      Camera  Electronics         1  55000 2023-02-26
9      1010         510     Printer  Electronics         1  18000 2023-03-05
10     1011         511      Laptop  Electronics         1  75000 2023-03-12
11     1012         512      Mobile  Electronics         2  30000 2023-03-19
12     1013         513  Headphones  Accessories         1   2500 2023-03-26
13     1014         514    Keyboard  Accessories         1   1500 2023-04-02
14     1015         515       Mouse  Accessories         2    900 2023-04-09
15     1016         516      Tablet  Electronics         1  40000 2023-04-16
16     1017         517  Smartwatch    Wearables         1  12000 2023-04-23
17     1018         518     Charger  Accessories         3    800 2023-04-30
18     1019         519      Camera  Electronics         1  55000 2023-05-07
19     1020         520     Printer  Electronics         1  18000 2023-05-14
20     1021         521      Laptop  Electronics         1  75000 2023-05-21
21     1022         522      Mobile  Electronics         2  30000 2023-05-28
22     1023         523  Headphones  Accessories         1   2500 2023-06-04
23     1024         524    Keyboard  Accessories         1   1500 2023-06-11
24     1025         525       Mouse  Accessories         2    900 2023-06-18
25     1026         526      Tablet  Electronics         1  40000 2023-06-25
26     1027         527  Smartwatch    Wearables         1  12000 2023-07-02
27     1028         528     Charger  Accessories         3    800 2023-07-09
28     1029         529      Camera  Electronics         1  55000 2023-07-16
29     1030         530     Printer  Electronics         1  18000 2023-07-23
30     1031         531      Laptop  Electronics         1  75000 2023-07-30
31     1032         532      Mobile  Electronics         2  30000 2023-08-06
32     1033         533  Headphones  Accessories         1   2500 2023-08-13
33     1034         534    Keyboard  Accessories         1   1500 2023-08-20
34     1035         535       Mouse  Accessories         2    900 2023-08-27
35     1036         536      Tablet  Electronics         1  40000 2023-09-03
36     1037         537  Smartwatch    Wearables         1  12000 2023-09-10
37     1038         538     Charger  Accessories         3    800 2023-09-17
38     1039         539      Camera  Electronics         1  55000 2023-09-24
39     1040         540     Printer  Electronics         1  18000 2023-10-01
40     1041         541      Laptop  Electronics         1  75000 2023-10-08
41     1042         542      Mobile  Electronics         2  30000 2023-10-15
42     1043         543  Headphones  Accessories         1   2500 2023-10-22
43     1044         544    Keyboard  Accessories         1   1500 2023-10-29
44     1045         545       Mouse  Accessories         2    900 2023-11-05
45     1046         546      Tablet  Electronics         1  40000 2023-11-12
46     1047         547  Smartwatch    Wearables         1  12000 2023-11-19
47     1048         548     Charger  Accessories         3    800 2023-11-26
48     1049         549      Camera  Electronics         1  55000 2023-12-03
49     1050         550     Printer  Electronics         1  18000 2023-12-10

    Rating     Review
0        5  Excellent
1        4  Very Good
2        4       Good
3        3    Average
4        5  Excellent
5        4       Good
6        5  Excellent
7        3    Average
8        4  Very Good
9        4       Good
10       5  Excellent
11       4  Very Good
12       4       Good
13       3    Average
14       5  Excellent
15       4       Good
16       5  Excellent
17       3    Average
18       4  Very Good
19       4       Good
20       5  Excellent
21       4  Very Good
22       4       Good
23       3    Average
24       5  Excellent
25       4       Good
26       5  Excellent
27       3    Average
28       4  Very Good
29       4       Good
30       5  Excellent
31       4  Very Good
32       4       Good
33       3    Average
34       5  Excellent
35       4       Good
36       5  Excellent
37       3    Average
38       4  Very Good
39       4       Good
40       5  Excellent
41       4  Very Good
42       4       Good
43       3    Average
44       5  Excellent
45       4       Good
46       5  Excellent
47       3    Average
48       4  Very Good
49       4       Good

In [18]:
# Display the first 10 
print("First 10 records:")
print(df.head(10))

First 10 records:
   OrderID  CustomerID     Product     Category  Quantity  Price  OrderDate  \
0     1001         501      Laptop  Electronics         1  75000 2023-01-01
1     1002         502      Mobile  Electronics         2  30000 2023-01-08
2     1003         503  Headphones  Accessories         1   2500 2023-01-15
3     1004         504    Keyboard  Accessories         1   1500 2023-01-22
4     1005         505       Mouse  Accessories         2    900 2023-01-29
5     1006         506      Tablet  Electronics         1  40000 2023-02-05
6     1007         507  Smartwatch    Wearables         1  12000 2023-02-12
7     1008         508     Charger  Accessories         3    800 2023-02-19
8     1009         509      Camera  Electronics         1  55000 2023-02-26
9     1010         510     Printer  Electronics         1  18000 2023-03-05

   Rating     Review
0       5  Excellent
1       4  Very Good
2       4       Good
3       3    Average
4       5  Excellent
5       4       Good
6       5  Excellent
7       3    Average
8       4  Very Good
9       4       Good

In [19]:
# Display last 5 records
print("Last 5 records:")
print(df.tail(5))

Last 5 records:
    OrderID  CustomerID     Product     Category  Quantity  Price  OrderDate  \
45     1046         546      Tablet  Electronics         1  40000 2023-11-12
46     1047         547  Smartwatch    Wearables         1  12000 2023-11-19
47     1048         548     Charger  Accessories         3    800 2023-11-26
48     1049         549      Camera  Electronics         1  55000 2023-12-03
49     1050         550     Printer  Electronics         1  18000 2023-12-10

    Rating     Review
45       4       Good
46       5  Excellent
47       3    Average
48       4  Very Good
49       4       Good

In [17]:
# Q2: Use info() and describe() to get a comprehensive overview of the dataset
# Identify data types, missing values, and statistical summary
# Print the column names using columns attribute and shape of the dataset

print("Data Info:")  # info()
print(df.info())

print("Summary of data:")  # Describe()
print(df.describe())

print("Data Types:",df.dtypes) # datatypes

print("Missing Values:", df.isnull()) # check missing values

print("\nColumn Names:", df.columns) # print column names

print("\nDataset Shape:", df.shape)  # print dataset shape

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderID     50 non-null     int64
 1   CustomerID  50 non-null     int64
 2   Product     50 non-null     object
 3   Category    50 non-null     object
 4   Quantity    50 non-null     int64
 5   Price       50 non-null     int64
 6   OrderDate   50 non-null     datetime64[ns]
 7   Rating      50 non-null     int64
 8   Review      50 non-null     object
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 3.6+ KB
None
Summary of data:
          OrderID  CustomerID   Quantity         Price            OrderDate  \
count    50.00000    50.00000  50.000000     50.000000                   50
mean   1025.50000   525.50000   1.400000  23570.000000  2023-06-21 12:00:00
min    1001.00000   501.00000   1.000000    800.000000  2023-01-01 00:00:00
25%    1013.25000   513.25000   1.000000   1500.000000  2023-03-27 18:00:00
50%    1025.50000   525.50000   1.000000  15000.000000  2023-06-21 12:00:00
75%    1037.75000   537.75000   2.000000  40000.000000  2023-09-15 06:00:00
max    1050.00000   550.00000   3.000000  75000.000000  2023-12-10 00:00:00
std      14.57738    14.57738   0.670059  24892.628611                  NaN

          Rating
count  50.000000
mean    4.100000
min     3.000000
25%     4.000000
50%     4.000000
75%     5.000000
max     5.000000
std     0.707107
Data Types: OrderID                int64
CustomerID             int64
Product               object
Category              object
Quantity               int64
Price                  int64
OrderDate     datetime64[ns]
Rating                 int64
Review                object
dtype: object
Missing Values:     OrderID  CustomerID  Product  Category  Quantity  Price  OrderDate  \
0     False       False    False     False     False  False      False
1     False       False    False     False     False  False      False
2     False       False    False     False     False  False      False
3     False       False    False     False     False  False      False
4     False       False    False     False     False  False      False
5     False       False    False     False     False  False      False
6     False       False    False     False     False  False      False
7     False       False    False     False     False  False      False
8     False       False    False     False     False  False      False
9     False       False    False     False     False  False      False
10    False       False    False     False     False  False      False
11    False       False    False     False     False  False      False
12    False       False    False     False     False  False      False
13    False       False    False     False     False  False      False
14    False       False    False     False     False  False      False
15    False       False    False     False     False  False      False
16    False       False    False     False     False  False      False
17    False       False    False     False     False  False      False
18    False       False    False     False     False  False      False
19    False       False    False     False     False  False      False
20    False       False    False     False     False  False      False
21    False       False    False     False     False  False      False
22    False       False    False     False     False  False      False
23    False       False    False     False     False  False      False
24    False       False    False     False     False  False      False
25    False       False    False     False     False  False      False
26    False       False    False     False     False  False      False
27    False       False    False     False     False  False      False
28    False       False    False     False     False  False      False
29    False       False    False     False     False  False      False
30    False       False    False     False     False  False      False
31    False       False    False     False     False  False      False
32    False       False    False     False     False  False      False
33    False       False    False     False     False  False      False
34    False       False    False     False     False  False      False
35    False       False    False     False     False  False      False
36    False       False    False     False     False  False      False
37    False       False    False     False     False  False      False
38    False       False    False     False     False  False      False
39    False       False    False     False     False  False      False
40    False       False    False     False     False  False      False
41    False       False    False     False     False  False      False
42    False       False    False     False     False  False      False
43    False       False    False     False     False  False      False
44    False       False    False     False     False  False      False
45    False       False    False     False     False  False      False
46    False       False    False     False     False  False      False
47    False       False    False     False     False  False      False
48    False       False    False     False     False  False      False
49    False       False    False     False     False  False      False

    Rating  Review
0    False   False
1    False   False
2    False   False
3    False   False
4    False   False
5    False   False
6    False   False
7    False   False
8    False   False
9    False   False
10   False   False
11   False   False
12   False   False
13   False   False
14   False   False
15   False   False
16   False   False
17   False   False
18   False   False
19   False   False
20   False   False
21   False   False
22   False   False
23   False   False
24   False   False
25   False   False
26   False   False
27   False   False
28   False   False
29   False   False
30   False   False
31   False   False
32   False   False
33   False   False
34   False   False
35   False   False
36   False   False
37   False   False
38   False   False
39   False   False
40   False   False
41   False   False
42   False   False
43   False   False
44   False   False
45   False   False
46   False   False
47   False   False
48   False   False
49   False   False

Column Names: Index(['OrderID', 'CustomerID', 'Product', 'Category', 'Quantity', 'Price',
       'OrderDate', 'Rating', 'Review'],
      dtype='object')

Dataset Shape: (50, 9)

In [37]:
# Q3: Introduce 10% missing values randomly in Rating and Review columns
# Detect missing values and display the count of missing values per column
# Fill missing ratings with the median rating and missing reviews with "No review provided"

df.loc[1,'Rating'] = None  # Introduce missing values in Rating columns
df.loc[2,'Rating'] = None
df.loc[3,'Rating'] = None
df.loc[4,'Rating'] = None
df.loc[5,'Rating'] = None
print("with missing data:\n",df['Rating'])

# Detect missing values and display the count of missing values per column
print("\nDetect Missing values in Rating")
print(df['Rating'].isnull().sum())

# Fill missing ratings with the median rating
df['Rating']=df['Rating'].fillna(df['Rating'].mean()) 
print("\nFill Missing Rating", df['Rating'])

df.loc[1,'Review'] = None  # Introduce missing values in Review coulmns
df.loc[2,'Review'] = None
df.loc[3,'Review'] = None
df.loc[4,'Review'] = None
df.loc[5,'Review'] = None
print("\nwith missing data:",df['Review'])

# Detect missing values and display the count of missing values per column
print("\nDetect Missing values in Review")
print(df['Review'].isnull().sum())

# Missing reviews with "No review provided"
df['Review'].fillna("No review provided", inplace=True)
print(df['Review'])

with missing data:
 0     5.0
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     5.0
7     3.0
8     4.0
9     4.0
10    5.0
11    4.0
12    4.0
13    3.0
14    5.0
15    4.0
16    5.0
17    3.0
18    4.0
19    4.0
20    5.0
21    4.0
22    4.0
23    3.0
24    5.0
25    4.0
26    5.0
27    3.0
28    4.0
29    4.0
30    5.0
31    4.0
32    4.0
33    3.0
34    5.0
35    4.0
36    5.0
37    3.0
38    4.0
39    4.0
40    5.0
41    4.0
42    4.0
43    3.0
44    5.0
45    4.0
46    5.0
47    3.0
48    4.0
49    4.0
Name: Rating, dtype: float64

Detect Missing values in Rating
5

Fill Missing Rating 0     5.000000
1     4.111111
2     4.111111
3     4.111111
4     4.111111
5     4.111111
6     5.000000
7     3.000000
8     4.000000
9     4.000000
10    5.000000
11    4.000000
12    4.000000
13    3.000000
14    5.000000
15    4.000000
16    5.000000
17    3.000000
18    4.000000
19    4.000000
20    5.000000
21    4.000000
22    4.000000
23    3.000000
24    5.000000
25    4.000000
26    5.000000
27    3.000000
28    4.000000
29    4.000000
30    5.000000
31    4.000000
32    4.000000
33    3.000000
34    5.000000
35    4.000000
36    5.000000
37    3.000000
38    4.000000
39    4.000000
40    5.000000
41    4.000000
42    4.000000
43    3.000000
44    5.000000
45    4.000000
46    5.000000
47    3.000000
48    4.000000
49    4.000000
Name: Rating, dtype: float64

with missing data: 0     Excellent
1          None
2          None
3          None
4          None
5          None
6     Excellent
7       Average
8     Very Good
9          Good
10    Excellent
11    Very Good
12         Good
13      Average
14    Excellent
15         Good
16    Excellent
17      Average
18    Very Good
19         Good
20    Excellent
21    Very Good
22         Good
23      Average
24    Excellent
25         Good
26    Excellent
27      Average
28    Very Good
29         Good
30    Excellent
31    Very Good
32         Good
33      Average
34    Excellent
35         Good
36    Excellent
37      Average
38    Very Good
39         Good
40    Excellent
41    Very Good
42         Good
43      Average
44    Excellent
45         Good
46    Excellent
47      Average
48    Very Good
49         Good
Name: Review, dtype: object

Detect Missing values in Review
5
0              Excellent
1     No review provided
2     No review provided
3     No review provided
4     No review provided
5     No review provided
6              Excellent
7                Average
8              Very Good
9                   Good
10             Excellent
11             Very Good
12                  Good
13               Average
14             Excellent
15                  Good
16             Excellent
17               Average
18             Very Good
19                  Good
20             Excellent
21             Very Good
22                  Good
23               Average
24             Excellent
25                  Good
26             Excellent
27               Average
28             Very Good
29                  Good
30             Excellent
31             Very Good
32                  Good
33               Average
34             Excellent
35                  Good
36             Excellent
37               Average
38             Very Good
39                  Good
40             Excellent
41             Very Good
42                  Good
43               Average
44             Excellent
45                  Good
46             Excellent
47               Average
48             Very Good
49                  Good
Name: Review, dtype: object

C:\Users\Expert\AppData\Local\Temp\ipykernel_4724\1678642812.py:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Review'].fillna("No review provided", inplace=True)

In [42]:
# Q4: Create a new column 'TotalAmount' by multiplying Quantity and Price
# Add another column 'DiscountedPrice' that applies 10% discount on orders above $100
# Use conditional selection to filter orders where TotalAmount > $150

# Create TotalAmount column
df['TotalAmount'] = df['Quantity'] * df['Price']

# Apply 10% discount if TotalAmount > 30000
df['DiscountedPrice'] = df['TotalAmount'].where(
    df['TotalAmount'] <= 30000,
    df['TotalAmount'] * 0.9
)

# Filter orders where TotalAmount > 35000
filter_df = df[df['TotalAmount'] > 35000]

# Display results
print("Full DataFrame:\n")
print(df)

print("\nFiltered Orders (TotalAmount > 35000):\n")
print(filter_df)

Full DataFrame:

    OrderID  CustomerID     Product     Category  Quantity  Price  OrderDate  \
0      1001         501      Laptop  Electronics         1  75000 2023-01-01
1      1002         502      Mobile  Electronics         2  30000 2023-01-08
2      1003         503  Headphones  Accessories         1   2500 2023-01-15
3      1004         504    Keyboard  Accessories         1   1500 2023-01-22
4      1005         505       Mouse  Accessories         2    900 2023-01-29
5      1006         506      Tablet  Electronics         1  40000 2023-02-05
6      1007         507  Smartwatch    Wearables         1  12000 2023-02-12
7      1008         508     Charger  Accessories         3    800 2023-02-19
8      1009         509      Camera  Electronics         1  55000 2023-02-26
9      1010         510     Printer  Electronics         1  18000 2023-03-05
10     1011         511      Laptop  Electronics         1  75000 2023-03-12
11     1012         512      Mobile  Electronics         2  30000 2023-03-19
12     1013         513  Headphones  Accessories         1   2500 2023-03-26
13     1014         514    Keyboard  Accessories         1   1500 2023-04-02
14     1015         515       Mouse  Accessories         2    900 2023-04-09
15     1016         516      Tablet  Electronics         1  40000 2023-04-16
16     1017         517  Smartwatch    Wearables         1  12000 2023-04-23
17     1018         518     Charger  Accessories         3    800 2023-04-30
18     1019         519      Camera  Electronics         1  55000 2023-05-07
19     1020         520     Printer  Electronics         1  18000 2023-05-14
20     1021         521      Laptop  Electronics         1  75000 2023-05-21
21     1022         522      Mobile  Electronics         2  30000 2023-05-28
22     1023         523  Headphones  Accessories         1   2500 2023-06-04
23     1024         524    Keyboard  Accessories         1   1500 2023-06-11
24     1025         525       Mouse  Accessories         2    900 2023-06-18
25     1026         526      Tablet  Electronics         1  40000 2023-06-25
26     1027         527  Smartwatch    Wearables         1  12000 2023-07-02
27     1028         528     Charger  Accessories         3    800 2023-07-09
28     1029         529      Camera  Electronics         1  55000 2023-07-16
29     1030         530     Printer  Electronics         1  18000 2023-07-23
30     1031         531      Laptop  Electronics         1  75000 2023-07-30
31     1032         532      Mobile  Electronics         2  30000 2023-08-06
32     1033         533  Headphones  Accessories         1   2500 2023-08-13
33     1034         534    Keyboard  Accessories         1   1500 2023-08-20
34     1035         535       Mouse  Accessories         2    900 2023-08-27
35     1036         536      Tablet  Electronics         1  40000 2023-09-03
36     1037         537  Smartwatch    Wearables         1  12000 2023-09-10
37     1038         538     Charger  Accessories         3    800 2023-09-17
38     1039         539      Camera  Electronics         1  55000 2023-09-24
39     1040         540     Printer  Electronics         1  18000 2023-10-01
40     1041         541      Laptop  Electronics         1  75000 2023-10-08
41     1042         542      Mobile  Electronics         2  30000 2023-10-15
42     1043         543  Headphones  Accessories         1   2500 2023-10-22
43     1044         544    Keyboard  Accessories         1   1500 2023-10-29
44     1045         545       Mouse  Accessories         2    900 2023-11-05
45     1046         546      Tablet  Electronics         1  40000 2023-11-12
46     1047         547  Smartwatch    Wearables         1  12000 2023-11-19
47     1048         548     Charger  Accessories         3    800 2023-11-26
48     1049         549      Camera  Electronics         1  55000 2023-12-03
49     1050         550     Printer  Electronics         1  18000 2023-12-10

      Rating              Review  TotalAmount  DiscountedPrice
0   5.000000           Excellent        75000            67500
1   4.111111  No review provided        60000            54000
2   4.111111  No review provided         2500             2500
3   4.111111  No review provided         1500             1500
4   4.111111  No review provided         1800             1800
5   4.111111  No review provided        40000            36000
6   5.000000           Excellent        12000            12000
7   3.000000             Average         2400             2400
8   4.000000           Very Good        55000            49500
9   4.000000                Good        18000            18000
10  5.000000           Excellent        75000            67500
11  4.000000           Very Good        60000            54000
12  4.000000                Good         2500             2500
13  3.000000             Average         1500             1500
14  5.000000           Excellent         1800             1800
15  4.000000                Good        40000            36000
16  5.000000           Excellent        12000            12000
17  3.000000             Average         2400             2400
18  4.000000           Very Good        55000            49500
19  4.000000                Good        18000            18000
20  5.000000           Excellent        75000            67500
21  4.000000           Very Good        60000            54000
22  4.000000                Good         2500             2500
23  3.000000             Average         1500             1500
24  5.000000           Excellent         1800             1800
25  4.000000                Good        40000            36000
26  5.000000           Excellent        12000            12000
27  3.000000             Average         2400             2400
28  4.000000           Very Good        55000            49500
29  4.000000                Good        18000            18000
30  5.000000           Excellent        75000            67500
31  4.000000           Very Good        60000            54000
32  4.000000                Good         2500             2500
33  3.000000             Average         1500             1500
34  5.000000           Excellent         1800             1800
35  4.000000                Good        40000            36000
36  5.000000           Excellent        12000            12000
37  3.000000             Average         2400             2400
38  4.000000           Very Good        55000            49500
39  4.000000                Good        18000            18000
40  5.000000           Excellent        75000            67500
41  4.000000           Very Good        60000            54000
42  4.000000                Good         2500             2500
43  3.000000             Average         1500             1500
44  5.000000           Excellent         1800             1800
45  4.000000                Good        40000            36000
46  5.000000           Excellent        12000            12000
47  3.000000             Average         2400             2400
48  4.000000           Very Good        55000            49500
49  4.000000                Good        18000            18000

Filtered Orders (TotalAmount > 35000):

    OrderID  CustomerID Product     Category  Quantity  Price  OrderDate  \
0      1001         501  Laptop  Electronics         1  75000 2023-01-01
1      1002         502  Mobile  Electronics         2  30000 2023-01-08
5      1006         506  Tablet  Electronics         1  40000 2023-02-05
8      1009         509  Camera  Electronics         1  55000 2023-02-26
10     1011         511  Laptop  Electronics         1  75000 2023-03-12
11     1012         512  Mobile  Electronics         2  30000 2023-03-19
15     1016         516  Tablet  Electronics         1  40000 2023-04-16
18     1019         519  Camera  Electronics         1  55000 2023-05-07
20     1021         521  Laptop  Electronics         1  75000 2023-05-21
21     1022         522  Mobile  Electronics         2  30000 2023-05-28
25     1026         526  Tablet  Electronics         1  40000 2023-06-25
28     1029         529  Camera  Electronics         1  55000 2023-07-16
30     1031         531  Laptop  Electronics         1  75000 2023-07-30
31     1032         532  Mobile  Electronics         2  30000 2023-08-06
35     1036         536  Tablet  Electronics         1  40000 2023-09-03
38     1039         539  Camera  Electronics         1  55000 2023-09-24
40     1041         541  Laptop  Electronics         1  75000 2023-10-08
41     1042         542  Mobile  Electronics         2  30000 2023-10-15
45     1046         546  Tablet  Electronics         1  40000 2023-11-12
48     1049         549  Camera  Electronics         1  55000 2023-12-03

      Rating              Review  TotalAmount  DiscountedPrice
0   5.000000           Excellent        75000            67500
1   4.111111  No review provided        60000            54000
5   4.111111  No review provided        40000            36000
8   4.000000           Very Good        55000            49500
10  5.000000           Excellent        75000            67500
11  4.000000           Very Good        60000            54000
15  4.000000                Good        40000            36000
18  4.000000           Very Good        55000            49500
20  5.000000           Excellent        75000            67500
21  4.000000           Very Good        60000            54000
25  4.000000                Good        40000            36000
28  4.000000           Very Good        55000            49500
30  5.000000           Excellent        75000            67500
31  4.000000           Very Good        60000            54000
35  4.000000                Good        40000            36000
38  4.000000           Very Good        55000            49500
40  5.000000           Excellent        75000            67500
41  4.000000           Very Good        60000            54000
45  4.000000                Good        40000            36000
48  4.000000           Very Good        55000            49500

In [47]:
# Q5: Select only the columns: Product, Category, TotalAmount, and Rating
# Filter and display all orders from the 'Electronics' category with Rating >= 4

select_cols = df[["Product", "Category", "TotalAmount", "Rating"]] #Select only the columns: Product, Category, TotalAmount, and Rating
electronics_rating = select_cols[
    (select_cols["Category"] == "Electronics") &
    (select_cols["Rating"] >= 4)
]

print("Electronics Orders with Rating >= 4:\n")
print(electronics_rating)

Electronics Orders with Rating >= 4:

    Product     Category  TotalAmount    Rating
0    Laptop  Electronics        75000  5.000000
1    Mobile  Electronics        60000  4.111111
5    Tablet  Electronics        40000  4.111111
8    Camera  Electronics        55000  4.000000
9   Printer  Electronics        18000  4.000000
10   Laptop  Electronics        75000  5.000000
11   Mobile  Electronics        60000  4.000000
15   Tablet  Electronics        40000  4.000000
18   Camera  Electronics        55000  4.000000
19  Printer  Electronics        18000  4.000000
20   Laptop  Electronics        75000  5.000000
21   Mobile  Electronics        60000  4.000000
25   Tablet  Electronics        40000  4.000000
28   Camera  Electronics        55000  4.000000
29  Printer  Electronics        18000  4.000000
30   Laptop  Electronics        75000  5.000000
31   Mobile  Electronics        60000  4.000000
35   Tablet  Electronics        40000  4.000000
38   Camera  Electronics        55000  4.000000
39  Printer  Electronics        18000  4.000000
40   Laptop  Electronics        75000  5.000000
41   Mobile  Electronics        60000  4.000000
45   Tablet  Electronics        40000  4.000000
48   Camera  Electronics        55000  4.000000
49  Printer  Electronics        18000  4.000000

In [56]:
# Q6: Use boolean indexing to find all orders where:
# - Quantity > 2 AND Price < 50 OR Rating == 5
# Display the count of such orders

orders = df[
    ((df["Quantity"] > 2) & (df["Price"] < 50)) |
    (df["Rating"] == 5)
]
print("Count of such ordes:")
print(orders.shape)

Count of such ordes:
(14, 11)

In [58]:
# Q7: Sort the entire DataFrame by OrderDate (descending) and then by TotalAmount (descending)
# Create a new column 'SalesRank' that ranks products by TotalAmount in descending order
df_sorted = df.sort_values(
    by=["OrderDate", "TotalAmount"],
    ascending=[False, False]
)
df_sorted["SalesRank"] = df_sorted["TotalAmount"].rank(
    method="dense",
    ascending=False
)
print("Sorted DataFrame with Sales Rank:\n")
print(df_sorted.head(10))

Sorted DataFrame with Sales Rank:

    OrderID  CustomerID     Product     Category  Quantity  Price  OrderDate  \
49     1050         550     Printer  Electronics         1  18000 2023-12-10
48     1049         549      Camera  Electronics         1  55000 2023-12-03
47     1048         548     Charger  Accessories         3    800 2023-11-26
46     1047         547  Smartwatch    Wearables         1  12000 2023-11-19
45     1046         546      Tablet  Electronics         1  40000 2023-11-12
44     1045         545       Mouse  Accessories         2    900 2023-11-05
43     1044         544    Keyboard  Accessories         1   1500 2023-10-29
42     1043         543  Headphones  Accessories         1   2500 2023-10-22
41     1042         542      Mobile  Electronics         2  30000 2023-10-15
40     1041         541      Laptop  Electronics         1  75000 2023-10-08

    Rating     Review  TotalAmount  DiscountedPrice  SalesRank
49     4.0       Good        18000            18000        5.0
48     4.0  Very Good        55000            49500        3.0
47     3.0    Average         2400             2400        8.0
46     5.0  Excellent        12000            12000        6.0
45     4.0       Good        40000            36000        4.0
44     5.0  Excellent         1800             1800        9.0
43     3.0    Average         1500             1500       10.0
42     4.0       Good         2500             2500        7.0
41     4.0  Very Good        60000            54000        2.0
40     5.0  Excellent        75000            67500        1.0

In [60]:
# Q8: Find the top 5 best-selling products based on total quantity sold
# Display the product name and total quantity in descending order
top_products= (
    df.groupby('Product')['Quantity'].sum().sort_values(ascending=False).head(5)
)
print(top_products)

Product
Charger     15
Mobile      10
Mouse       10
Camera       5
Keyboard     5
Name: Quantity, dtype: int64