In [1]:
# class Assignmnet:Tuple

In [2]:
fruits=("apple","banana","grapes","cherry","mango") # 1. Create a tuple named 'fruits' containing five fruit names and print it.
print(fruits)

('apple', 'banana', 'grapes', 'cherry', 'mango')

In [3]:
data=(10,2.5,"python",True) # 2. Create a tuple with mixed data types (string, integer, float, boolean) and display each element using indexing.

print(data[0])
print(data[1])
print(data[2])
print(data[3])

10
2.5
python
True

In [4]:
country=("India",("Maharastra","Kolkata","Punjab")) # 3. Create a nested tuple that stores a country name and its states as another tuple.
print(country)

('India', ('Maharastra', 'Kolkata', 'Punjab'))

In [5]:
a=(10,20,30,40) # 4. Access the last element of a tuple using negative indexing
print(a[-1])

40

In [6]:
print(a[:3]) # 5. Slice a tuple to print only the first three elements.

(10, 20, 30)

In [7]:
students=("Saniya","Rutuja","Isha","Bhakti")# 6. Use len() to find the number of elements in a tuple named 'students'.
print(len(students))

4

In [8]:
marks=(10,20,30,86,25,90)# 7. Use max() and min() to find the highest and lowest marks from a tuple of integers.
print("Max:",max(marks))
print("Min:",min(marks))

Max: 90
Min: 10

In [9]:
sales=(1200,2300,4500) # 8. Use sum() to calculate the total sales from a tuple of daily sales data.

print(sum(sales))

8000

In [13]:
numbers=(5,1,8,9,3,7) # 9. Sort a tuple of numbers in ascending order using sorted() and convert it back to a tuple.

ascending= tuple(sorted(numbers))
print("Ascending:",ascending)

Ascending: (1, 3, 5, 7, 8, 9)

In [14]:
numbers=(5,1,8,9,3,7) # 10. Sort a tuple of numbers in descending order using sorted() with reverse=True.
descending= tuple(sorted(numbers,reverse=True))
print("Descending:",descending)

Descending: (9, 8, 7, 5, 3, 1)

In [15]:
print(numbers.count(8)) # 11. Count how many times a specific value appears in a tuple using the count() method.

1

In [16]:
t=("python","java","c++") # 12. Find the index of a specific element in a tuple using the index() method.

print(t.index("java"))

1

In [17]:
print("python" in t) # 13. Check if "Python" is present in a tuple using the 'in' keyword.

True

In [18]:
lang=("python","java","c") # 14. Check if "C++" is not present in a tuple using the 'not in' keyword.
print("c++" not in lang)

True

In [19]:
numbers=tuple(range(1,11)) # 15. Create a tuple from a range of numbers 1 to 10 using the tuple() and range() functions.
print(numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [20]:
bool_tuple=(False,False,True) # 16. Use any() on a tuple of boolean values to check if at least one element is True.
print(any(bool_tuple))

True

In [21]:
print(all(bool_tuple)) # 17. Use all() on a tuple of boolean values to check if all elements are True.

False

In [22]:
first=("Saniya","Rutuja")# 18 Concatenate two tuples representing first names and last names.
last=("Shaikh","Khobare")
full= first + last
print(full)

('Saniya', 'Rutuja', 'Shaikh', 'Khobare')

In [23]:
t=("AI","ML") # 19. Repeat a tuple containing ("AI", "ML") three times using the * operator.

print(t*3)

('AI', 'ML', 'AI', 'ML', 'AI', 'ML')

In [24]:
combine=tuple(zip(first,last)) # 20. Combine two tuples (names and scores) using zip() and convert the result into a tuple.
print(combine)

(('Saniya', 'Shaikh'), ('Rutuja', 'Khobare'))

In [25]:
t=(1,2,3,4) # 21. Reverse a tuple using the reversed() function and convert it back to a tuple.
rev=tuple(reversed(t))
print(rev)

(4, 3, 2, 1)

In [26]:
t=("python","java","c++") # 22. Find the alphabetically first and last element in a tuple of strings using min() and max().
print("first:",min(t))
print("last:",max(t))

first: c++
last: python

In [27]:
t=(10,20,30) # 23. Unpack a tuple of three elements into three separate variables and print them.
a,b,c=t
print(a,b,c)

10 20 30

In [28]:
t=(10,20,30) # 24. Create a tuple and demonstrate immutability by trying to modify an element (observe the error).
#t[0]=10 #This will raise TypeError
print("Tuple cannot be modified immutable")

Tuple cannot be modified immutable

In [34]:
import sys # 25. Compare the memory size of a list and a tuple containing the same elements using sys.getsizeof().
lst=[1,2,3,4,5]
tup=(1,2,3,4,5)
print("List size:",sys.getsizeof(lst))
print("Tuple size:", sys.getsizeof(tup))

List size: 104
Tuple size: 80

In [29]:
nums=(1,2,3,4,5,6,7,8,9,10) # 26. Create a tuple of 10 numbers and calculate the average using sum() and len().
average=sum(nums)
print("Average:",average)

Average: 55

In [30]:
cities=("pune","mumbai","Delhi","Goa") # 27. Create a tuple of city names and print them in reverse order using slicing.
print(cities[::-1])

('Goa', 'Delhi', 'mumbai', 'pune')

In [31]:
t=(1,2,3,4) # 28. Convert a tuple of numbers into a list, append a new number, and convert it back into a tuple.
lst=list(t)
lst.append(5)
t=tuple(lst)
print(t)

(1, 2, 3, 4, 5)

In [32]:
emp=("Sara",20,"IT") # 29. Create a tuple of employee details (Name, Age, Department) and use unpacking to print each value separately.
name,age,department=emp
print("Name:",name)
print("Age:",age)
print("Department:",department)

Name: Sara
Age: 20
Department: IT

In [33]:
products=("Laptop","Mobile","Tablet") # 30. Create two tuples — (product_name, price) — and combine them using zip(); then display them sorted by price in descending order.
prices=(50000,20000,30000)
combined=tuple(zip(products,prices))
sorted_product=tuple(sorted(combined,reverse=True))
print(sorted_product)

(('Tablet', 30000), ('Mobile', 20000), ('Laptop', 50000))