In [1]:
# class Assignment: Dictonary

In [2]:
# 1. Create a dictionary with 5 students and their marks
students = {
    "Aman": 85,
    "Riya": 92,
    "Neha": 78,
    "Arjun": 88,
    "Karan": 67
}
print(students)

{'Aman': 85, 'Riya': 92, 'Neha': 78, 'Arjun': 88, 'Karan': 67}

In [3]:
# 2. Print the value of a specific student using key
print("Marks of Riya:", students["Riya"])

Marks of Riya: 92

In [4]:
# 3. Add a new student with marks
students["Sonal"] = 90

In [5]:
# 4. Update the marks of an existing student
students["Neha"] = 82

In [6]:
# 5. Delete a student from the dictionary
del students["Karan"]

In [7]:
# 6. Print all student names using keys()
print("Student Names:", students.keys())

Student Names: dict_keys(['Aman', 'Riya', 'Neha', 'Arjun', 'Sonal'])

In [8]:
# 7. Print all student marks using values()
print("Student Marks:", students.values())

Student Marks: dict_values([85, 92, 82, 88, 90])

In [9]:
# 8. Print all student names with their marks using items()
print("Students and Marks:")
for name, marks in students.items():
    print(name, ":", marks)

Students and Marks:
Aman : 85
Riya : 92
Neha : 82
Arjun : 88
Sonal : 90

In [10]:
# 9. Check if a specific student is in the dictionary
print("Is Aman present?", "Aman" in students)

Is Aman present? True

In [11]:
# 10. Check if a specific mark is present in the dictionary values
print("Is 90 present?", 90 in students.values())

Is 90 present? True

In [12]:
# 11. Use get() to fetch marks safely
print("Marks of Rahul:", students.get("Rahul", "Student not found"))

Marks of Rahul: Student not found

In [13]:
# 12. Create a dictionary of employees with departments
employees = {
    "Anita": "HR",
    "Rohit": "IT",
    "Meena": "Finance",
    "Suresh": "IT"
}

In [14]:
# 13. Access department of a specific employee
print("Rohit's Department:", employees["Rohit"])

Rohit's Department: IT

In [15]:
# 14. Add a new employee
employees["Vikas"] = "Marketing"

In [16]:
# 15. Change department of an existing employee
employees["Meena"] = "HR"

In [17]:
# 16. Remove an employee
del employees["Suresh"]

In [18]:
# 17. Sort by employee names (ascending)
print("Sorted by names (ASC):", dict(sorted(employees.items())))

Sorted by names (ASC): {'Anita': 'HR', 'Meena': 'HR', 'Rohit': 'IT', 'Vikas': 'Marketing'}

In [19]:
# 18. Sort by department (ascending)
print("Sorted by department (ASC):",
dict(sorted(employees.items(), key=lambda x: x[1])))

Sorted by department (ASC): {'Anita': 'HR', 'Meena': 'HR', 'Rohit': 'IT', 'Vikas': 'Marketing'}

In [20]:
# 19. Sort by employee names (descending)
print("Sorted by names (DESC):",
      dict(sorted(employees.items(), reverse=True)))

Sorted by names (DESC): {'Vikas': 'Marketing', 'Rohit': 'IT', 'Meena': 'HR', 'Anita': 'HR'}

In [21]:
# 20. Sort by department (descending)
print("Sorted by department (DESC):",
      dict(sorted(employees.items(), key=lambda x: x[1], reverse=True)))

Sorted by department (DESC): {'Vikas': 'Marketing', 'Rohit': 'IT', 'Anita': 'HR', 'Meena': 'HR'}

In [22]:
# 21. Find all keys that have a specific value
value_to_find = "HR"
keys_with_value = [k for k, v in employees.items() if v == value_to_find]
print("Employees in HR:", keys_with_value)

Employees in HR: ['Anita', 'Meena']

In [23]:
# 22. Count students who scored above 80
count_above_80 = sum(1 for m in students.values() if m > 80)
print("Students scoring above 80:", count_above_80)

Students scoring above 80: 5

In [24]:
# 23. Nested dictionary for 3 students
student_details = {
    "Aman": {"age": 20, "grade": "A", "department": "CS"},
    "Riya": {"age": 21, "grade": "A+", "department": "IT"},
    "Neha": {"age": 19, "grade": "B", "department": "ECE"}
}

In [25]:
# 24. Access grade of a student
print("Riya's Grade:", student_details["Riya"]["grade"])

Riya's Grade: A+

In [26]:
# 25. Update department of a student
student_details["Neha"]["department"] = "CS"

In [27]:
# 26. Loop and print student names with grades
print("Student Grades:")
for name, info in student_details.items():
    print(name, ":", info["grade"])

Student Grades:
Aman : A
Riya : A+
Neha : B

In [28]:
# 27. Merge two dictionaries
students2 = {"Rahul": 75, "Pooja": 89}
merged_students = students | students2
print("Merged Dictionary:", merged_students)

Merged Dictionary: {'Aman': 85, 'Riya': 92, 'Neha': 82, 'Arjun': 88, 'Sonal': 90, 'Rahul': 75, 'Pooja': 89}

In [29]:
# 28. Clear all entries in a dictionary
students2.clear()
print("Cleared Dictionary:", students2)

Cleared Dictionary: {}

In [30]:
# 29. Copy a dictionary and modify the copy
students_copy = students.copy()
students_copy["Aman"] = 95
print("Original:", students)
print("Copy:", students_copy)

Original: {'Aman': 85, 'Riya': 92, 'Neha': 82, 'Arjun': 88, 'Sonal': 90}
Copy: {'Aman': 95, 'Riya': 92, 'Neha': 82, 'Arjun': 88, 'Sonal': 90}

In [31]:
# 30. Dictionary with keys 1â€“5 and values as squares
squares = {i: i*i for i in range(1, 6)}
print("Squares Dictionary:", squares)

Squares Dictionary: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}