In [46]:
# CaseStudyA
employees = { # 1.Display all employees who know both ‘Python’ and ‘SQL’.
    "Alice": ["Python", "SQL", "Java"],
    "Bob": ["C", "C++"],
    "Charlie": ["Python", "SQL"]
}
print("Employees who know both Python and SQL:")
for name, skills in employees.items():
    if "Python" in skills and "SQL" in skills:
        print(name)

Employees who know both Python and SQL:
Alice
Charlie

In [47]:
unique_skills = set() # 2.Find and print the unique skills available across all employees (using sets).
for skills in employees.values():
    unique_skills.update(skills)
print("Unique skills across all employees:")
print(unique_skills)

Unique skills across all employees:
{'C++', 'C', 'Python', 'SQL', 'Java'}

In [50]:
emp_name = input("Enter employee name: ") # 3.Identify how many employees share at least one skill with a specific employee entered by the user.
if emp_name not in employees:
    print("Employee not found.")
else:
    # Convert selected employee skills to set
    emp_skills = set(employees[emp_name])
    count = 0
    print("\nEmployees sharing at least one skill:")
    for name, skills in employees.items():
        if name != emp_name:
            # Check for common skills
            if emp_skills.intersection(skills):
                print(name)
                count += 1
    print(f"\nTotal employees sharing at least one skill with {emp_name}: {count}")

Enter employee name:  Alice

Employees sharing at least one skill:
Charlie

Total employees sharing at least one skill with Alice: 1

In [13]:
### CaseStudyB
# Product Inventory Analyzer (Warehouse Comparison)
# Function to take product details for a warehouse
def input_warehouse_data(warehouse_name):
    n = int(input(f"\nEnter number of products in {warehouse_name}: "))
    products = []

    for i in range(n):
        print(f"\nEnter details for product {i+1}:")
        pid = input("Product ID: ")
        pname = input("Product Name: ")
        qty = int(input("Quantity: "))

        products.append({
            "id": pid,
            "name": pname,
            "quantity": qty
        })
    return products
# Input data for both warehouses
warehouse1 = input_warehouse_data("Warehouse 1")
warehouse2 = input_warehouse_data("Warehouse 2")

Enter number of products in Warehouse 1:  2

Enter details for product 1:

Product ID:  101
Product Name:  Laptop
Quantity:  20

Enter details for product 2:

Product ID:  102
Product Name:  Mouse
Quantity:  30

Enter number of products in Warehouse 2:  2

Enter details for product 1:

Product ID:  104
Product Name:  Laptop
Quantity:  30

Enter details for product 2:

Product ID:  105
Product Name:  Keyboard
Quantity:  50

In [14]:
#1. Common products (by name)
names_w1 = {p["name"] for p in warehouse1}
names_w2 = {p["name"] for p in warehouse2}

common_products = names_w1.intersection(names_w2)

print("\nCommon Products in Both Warehouses:")
if common_products:
    for name in common_products:
        print(name)
else:
    print("No common products found.")

Common Products in Both Warehouses:
Laptop

In [15]:
# 2. Unique products across both warehouses
all_unique_products = names_w1.union(names_w2)

print("\nAll Unique Products Across Both Warehouses:")
for name in all_unique_products:
    print(name)

All Unique Products Across Both Warehouses:
Mouse
Keyboard
Laptop

In [17]:
# 3. Combine and sort by quantity (descending)

combined_products = warehouse1 + warehouse2
sorted_products = sorted(combined_products, key=lambda x: x["quantity"], reverse=True)

print("\nCombined Product List (Sorted by Quantity - Descending):")
print("ID\tName\t\tQuantity")
for p in sorted_products:
    print(f"{p['id']}\t{p['name']}\t\t{p['quantity']}")

Combined Product List (Sorted by Quantity - Descending):
ID	Name		Quantity
105	Keyboard		50
102	Mouse		30
104	Laptop		30
101	Laptop		20

In [22]:
# CaseStudyC
# University Course Registration System
# Input student details
n = int(input("Enter number of students: "))
students = []
for i in range(n):
    print(f"\nEnter details for student {i+1}:")
    name = input("Student Name: ")
    courses = tuple(input("Enter courses (comma-separated): ").split(","))
    # Remove extra spaces from course names
    courses = tuple(course.strip() for course in courses)
    students.append((name, courses))

Enter number of students:  3

Enter details for student 1:

Student Name:  Alice
Enter courses (comma-separated):  Data Science, AI, Python

Enter details for student 2:

Student Name:  Bob
Enter courses (comma-separated):  AI,Ml

Enter details for student 3:

Student Name:  Charlie
Enter courses (comma-separated):  Data Science, C++

In [23]:
# 1. Students enrolled in both Data Science and AI
print("\nStudents enrolled in both Data Science and AI:")
found = False
for name, courses in students:
    if "Data Science" in courses and "AI" in courses:
        print(name)
        found = True
if not found:
    print("No student enrolled in both courses.")

Students enrolled in both Data Science and AI:
Alice

In [24]:
# 2. Total number of unique courses
all_courses = set()
for _, courses in students:
    all_courses.update(courses)
print("\nTotal number of unique courses offered:", len(all_courses))

Total number of unique courses offered: 5

In [25]:
# 3. Courses that no student has repeated
# (courses taken by exactly one student)
course_count = {}

for _, courses in students:
    for course in courses:
        course_count[course] = course_count.get(course, 0) + 1

non_repeated_courses = [course for course, count in course_count.items() if count == 1]

print("\nCourses that no student has repeated:")
if non_repeated_courses:
    for course in non_repeated_courses:
        print(course)
else:
    print("No such courses found.")

Courses that no student has repeated:
Python
Ml
C++

In [31]:
# CaseStudyD
# Customer Purchase Insights (E-commerce Scenario)
# Input customer purchase details
n = int(input("Enter number of customers: "))
purchases = []
for i in range(n):
    print(f"\nEnter details for customer {i+1}:")
    name = input("Customer Name: ")
    products = tuple(input("Enter products purchased (comma-separated): ").split(","))
    # Remove extra spaces
    products = tuple(product.strip() for product in products)
    purchases.append((name, products))

Enter number of customers:  3

Enter details for customer 1:

Customer Name:  Alex
Enter products purchased (comma-separated):  Laptop,Headphones,Mouse

Enter details for customer 2:

Customer Name:  John
Enter products purchased (comma-separated):  Mobile,Headphones

Enter details for customer 3:

Customer Name:  BOb
Enter products purchased (comma-separated):  Laptop,Keyboard

In [32]:
# 1. Total number of unique products
all_products = set()
for _, products in purchases:
    all_products.update(products)

print("\nTotal number of unique products bought:",
      len(all_products))

Total number of unique products bought: 5

In [33]:
# 2. Customers who purchased both Laptop and Headphones
print("\nCustomers who purchased both Laptop and Headphones:")
found = False
for name, products in purchases:
    if "Laptop" in products and "Headphones" in products:
        print(name)
        found = True

if not found:
    print("No such customers found.")

Customers who purchased both Laptop and Headphones:
Alex

In [34]:
# 3. Most frequently purchased product(s)
product_count = {}
for _, products in purchases:
    for product in products:
        product_count[product] = product_count.get(product, 0) + 1
max_count = max(product_count.values())
most_frequent = [p for p, c in product_count.items() if c == max_count]
print("\nMost frequently purchased product(s):")
for product in most_frequent:
    print(f"{product} (purchased {max_count} times)")

Most frequently purchased product(s):
Laptop (purchased 2 times)
Headphones (purchased 2 times)

In [35]:
# CaseStudyE
# Travel Planner (Data Deduplication Challenge)
# Input booking details
n = int(input("Enter number of booking records: "))
bookings = []

for i in range(n):
    print(f"\nEnter details for booking {i+1}:")
    name = input("Traveler Name: ")
    destination = input("Destination: ")
    date = input("Travel Date (DD-MM-YYYY): ")

    # Store each record as a tuple
    bookings.append((name, destination, date))

Enter number of booking records:  6

Enter details for booking 1:

Traveler Name:  Alice
Destination:  Paris
Travel Date (DD-MM-YYYY):  10-12-2020

Enter details for booking 2:

Traveler Name:  John
Destination:  London
Travel Date (DD-MM-YYYY):  12-12-2020

Enter details for booking 3:

Traveler Name:  Sara
Destination:  Paris
Travel Date (DD-MM-YYYY):  13-09-2020

Enter details for booking 4:

Traveler Name:  Alex
Destination:  London
Travel Date (DD-MM-YYYY):  14-08-2020

Enter details for booking 5:

Traveler Name:  Nick
Destination:  Paris
Travel Date (DD-MM-YYYY):  15-04-2020

Enter details for booking 6:

Traveler Name:  Raj
Destination:  NewYork
Travel Date (DD-MM-YYYY):  16-06-2020

In [36]:
# 1. Remove duplicate records using set
unique_bookings = set(bookings)
print("\nUnique Booking Records:")
for record in unique_bookings:
    print(record)

Unique Booking Records:
('Alex', 'London', '14-08-2020')
('Raj', 'NewYork', '16-06-2020')
('Nick', 'Paris', '15-04-2020')
('Sara', 'Paris', '13-09-2020')
('Alice', 'Paris', '10-12-2020')
('John', 'London', '12-12-2020')

In [37]:
# 2. Display all unique destinations
unique_destinations = {destination for _, destination, _ in unique_bookings}
print("\nUnique Destinations:")
for dest in unique_destinations:
    print(dest)

Unique Destinations:
Paris
London
NewYork

In [38]:
# 3. Top 3 most visited destinations
destination_count = {}
for _, destination, _ in unique_bookings:
    destination_count[destination] = destination_count.get(destination, 0) + 1
# Sort destinations by frequency (descending)
sorted_destinations = sorted(destination_count.items(),
                             key=lambda x: x[1],
                             reverse=True)
print("\nTop 3 Most Visited Destinations:")
for dest, count in sorted_destinations[:3]:
    print(f"{dest} - {count} bookings")

Top 3 Most Visited Destinations:
Paris - 3 bookings
London - 2 bookings
NewYork - 1 bookings

In [39]:
# CaseStudyF
# Student Attendance Analyzer
attendance = []
# Input attendance for 5 days
for day in range(1, 6):
    print(f"\nEnter students present on Day {day}:")
    students = set(input("Enter names (comma-separated): ").split(","))
    # Remove extra spaces
    students = {student.strip() for student in students}
    attendance.append(students)

Enter students present on Day 1:

Enter names (comma-separated):  Alice,Bob,Charlie

Enter students present on Day 2:

Enter names (comma-separated):  Alice,Bob

Enter students present on Day 3:

Enter names (comma-separated):  Alice,Charlie

Enter students present on Day 4:

Enter names (comma-separated):  Alice,David

Enter students present on Day 5:

Enter names (comma-separated):  Alice,Bob

In [40]:
# 1. Students present every day
present_every_day = attendance[0]

for day_attendance in attendance[1:]:
    present_every_day = present_every_day.intersection(day_attendance)

print("\nStudents present every day:")
if present_every_day:
    for student in present_every_day:
        print(student)
else:
    print("No student was present every day.")

Students present every day:
Alice

In [41]:
# 2. Students absent on at least one day
all_students = set()

for day_attendance in attendance:
    all_students = all_students.union(day_attendance)

absent_at_least_once = all_students - present_every_day

print("\nStudents absent on at least one day:")
for student in absent_at_least_once:
    print(student)

Students absent on at least one day:
Bob
Charlie
David

In [42]:
# 3. Total unique students
print("\nTotal unique students across all five days:",
      len(all_students))

Total unique students across all five days: 4

In [1]:
# CaseStudy G: Movie Recommendation Tracker

# Input user details
n = int(input("Enter number of users: "))
users = []

for i in range(n):
    print(f"\nEnter details for user {i+1}:")
    name = input("User Name: ")
    movies = tuple(input("Enter favorite movies (comma-separated): ").split(","))

    # Remove extra spaces
    movies = tuple(movie.strip() for movie in movies)

    users.append((name, movies))

Enter number of users:  3

Enter details for user 1:

User Name:  Alice
Enter favorite movies (comma-separated):  3-Idiots,Badshah,Sairat

Enter details for user 2:

User Name:  Bob
Enter favorite movies (comma-separated):  Badshah,3-Idiots,Border

Enter details for user 3:

User Name:  Charlie
Enter favorite movies (comma-separated):  Border2,Hacker

In [2]:
# 1. Users sharing at least two movies
print("\nUsers who share at least two movies in common:")

found = False
for i in range(len(users)):
    for j in range(i + 1, len(users)):
        common_movies = set(users[i][1]).intersection(users[j][1])
        if len(common_movies) >= 2:
            print(f"{users[i][0]} and {users[j][0]} -> {common_movies}")
            found = True

if not found:
    print("No users share at least two movies.")

Users who share at least two movies in common:
Alice and Bob -> {'3-Idiots', 'Badshah'}

In [3]:
# 2. All unique movies
all_movies = set()

for _, movies in users:
    all_movies.update(movies)

print("\nAll unique movies in the database:")
for movie in all_movies:
    print(movie)

All unique movies in the database:
Sairat
Border2
3-Idiots
Badshah
Border
Hacker

In [4]:
# 3. Movies liked by only one user
movie_count = {}

for _, movies in users:
    for movie in movies:
        movie_count[movie] = movie_count.get(movie, 0) + 1

unique_user_movies = [m for m, c in movie_count.items() if c == 1]

print("\nMovies marked as favorite by only one user:")
if unique_user_movies:
    for movie in unique_user_movies:
        print(movie)
else:
    print("No such movies found.")

Movies marked as favorite by only one user:
Sairat
Border
Border2
Hacker

In [5]:
# CaseStudy H: Sports Event Participation Summary

# Input participant details
n = int(input("Enter number of participants: "))
participants = []

for i in range(n):
    print(f"\nEnter details for participant {i+1}:")
    name = input("Participant Name: ")
    sports = tuple(input("Enter sports played (comma-separated): ").split(","))

    # Remove extra spaces
    sports = tuple(sport.strip() for sport in sports)

    participants.append((name, sports))

Enter number of participants:  4

Enter details for participant 1:

Participant Name:  Rahul
Enter sports played (comma-separated):  Cricket,Football,Tennis

Enter details for participant 2:

Participant Name:  Virat
Enter sports played (comma-separated):  Football,Badminton

Enter details for participant 3:

Participant Name:  Rohit
Enter sports played (comma-separated):  Cricket,Football

Enter details for participant 4:

Participant Name:  Aman
Enter sports played (comma-separated):  Cricket

In [6]:
# 1. Participants playing both Cricket and Football
print("\nParticipants playing both Cricket and Football:")
found = False
for name, sports in participants:
    if "Cricket" in sports and "Football" in sports:
        print(name)
        found = True

if not found:
    print("No participant plays both Cricket and Football.")

Participants playing both Cricket and Football:
Rahul
Rohit

In [7]:
# 2. Total number of unique sports
all_sports = set()

for _, sports in participants:
    all_sports.update(sports)

print("\nTotal number of unique sports being played:",
      len(all_sports))

Total number of unique sports being played: 4

In [9]:
# 3. Sports with highest participation count
sport_count = {}

for _, sports in participants:
    for sport in sports:
        sport_count[sport] = sport_count.get(sport, 0) + 1

max_count = max(sport_count.values())
most_popular_sports = tuple(
    sport for sport, count in sport_count.items()
    if count == max_count
)
print("\nSports with the highest participation count:")
print(most_popular_sports)

Sports with the highest participation count:
('Cricket', 'Football')